<!--  Here we are interpolating the player property -->
<h1>Current Player: {{ player }} </h1>

<!-- Event Binding in Angular -->
<!-- <button (click)="newGame()">Start New Game</button> -->

<!-- Post Nebular -->
<button nbButton outline status="danger" (click)="newGame()">Start new Game</button>

<!-- Type * to see the different STRCUTURAL DIRECTIVES -->
<!-- ngId means only render this HTML if the statement evaluated to truthy -->
<h2 *ngIf="winner">
  Player {{ winner }} won the game!
</h2>

<!-- ngFor renders the component multiple times based on the array of squares -->
<main>
  <!-- val is template variable which represents each square component element in array -->
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">
    <!-- Why [value] = val ? So that we can pass down the data grabbed from parent component (board) to chiled (square) -->
    <!-- We are also binding each square component to the makeMove() method with its index passed through. -->
  </app-square>

  <!--  Now add css styling -->

</main>
